{
    "extends": "react-app",
    "overrides": [
        {
            "files": [
                "**/*.js",
                "**/*.jsx"
            ],
            "excludedFiles": [
                ".vscode/**/*.js"
            ]
        }
    ],
    "env": {
        "node": true,
        "mocha": true,
        "mongo": true
    }
}