{
    "extends": "react-app",
    "overrides": [
        {
            "excludedFiles": ".vscode/**/*.js"
        }
    ],
    "env": {
        "node": true,
        "mocha": true,
        "mongo": true
    }
}